body {
    margin: 0;
    padding: 0 10% 0 10%;
    color: white;
    background-color: black;
    font-family: Acumin Pro;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #8A79FF;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.4rem;
    margin: .5rem 0;
}
h3 {
    font-weight: normal;
    letter-spacing: .4rem;
    margin-bottom: .1rem;
    color: #cfc3ff;
}
h5 {
    text-align: center;
    font-size: 1.1rem;
}
header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn {
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: #5C45FD;
    border: none;
    border-radius: 5px;
    color: inherit;
    width: 7.5rem;
    height: 2.5rem;
}
.btn img{
    width: 1rem;
    height: 1rem;
}
.projects-btn{
    width: 8.5rem;
    border: solid 2px #5C45FD;
    background-color: transparent;
}
.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.ptext {
    width: 60%;
    font-size: 1.3rem;
    margin-top: 0;
}
.ctnr-1 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-list {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.company-list div {
    width: 10%;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px #ffffff; */
    border-radius: 5px;
}
.company-list div img {
    width: 6.25rem;
    height: 6.25rem;
    object-fit: contain;
}
.feature_highlights{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}
.main_features{
display: flex;
}
.main_features div{
    width: 40%;
}
footer{
    display: flex;
    justify-content: space-between;
}